/* html{
    background-color: rgb(255, 186, 207);
    color: rgb(42, 42, 42)
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: "Century Gothic";
}


  .navbar a {
    float: left;
    color: rgb(42, 42, 42);
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }
  
  .navbar a:hover {
    
    color: rgb(237, 128, 161)
  } */
